html body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }

  .container-fluid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fixed-top {
    max-height: 100vh;
    overflow: auto;
  }

  .icon {
    width: 60px;
    margin: 8px;
    text-align: center;
  }

  .icon__svg {
    width: 60px;
    height: 60px;
  }

  .icon__title {
    font-size: 12px;
  }
.contents-list {
    padding-left: 48px;
  }

  .nav-link {
    color: black;
    text-decoration: none;
  }

  .nav-link:hover {
    text-decoration: underline;
    background: rgba(75%, 75%, 75%, 0.25);
  }

  .symbols-content {
    overflow: auto;
    padding-left: 8px;
  }

  .nav-item {
    margin-left: 8px
  }
h2 {
  margin-top:8px;
}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  html body {
    padding-top: 9rem;
  }
}

  @media (max-width: 960px) {
   html body {
      padding-top: 56px;
    }
  }
